<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m12 ">
          <div class="card blue darken-4 ">
            <div class="card-content white-text">
              <span class="card-title"><h3><%= @student.name %></h3></span>
              <h4><%= @student.email %></h4>
            </div>
            <div class="card-action">
            <% if @student.courses.count != 0 %>
              <h5><span class="card-content white-text">Enrolled to: <%= pluralize(@student.courses.count, "course")if @student.courses %>:</span></h5>
                <ul>
                  <div class="card-content white-text">
                    <% @student.courses.each do |course| %>
                        <li class="btn orange darken-3 course-titles"><%= course.name %></li>
                    <% end %>
                  </div>
                </ul>
              <% else %>
                <div class="card-content white-text">
                  <h4>You have not Enrolled into any courses yet</h4>
                </div>
              <% end %>
             
            </div>
          </div>
              <% if logged_in? && current_student.admin? && !@student.admin? %>
                <%= link_to "All Students", students_path, class: "waves-effect waves-light btn orange darken-3" %>
                <%= link_to "Edit your details", edit_student_path, class: "btn light-blue darken-4  waves-effect waves-light" %>
                <%= link_to "Delete Student", student_path, method: :delete, class: "btn red darken-4  waves-effect waves-light" %>
              <% else %>
                <%= link_to "Edit your details", edit_student_path, class: "btn light-blue darken-4  waves-effect waves-light" %>
                <%= link_to "View Courses", courses_path, class: "waves-effect waves-light btn orange darken-3" %>
              <% end %>
        </div>
      </div>
    </div>
  </div>
