<div class="row center-align">
  <div>
    <span class=" page-title">All Courses</span>
  </div>
</div>

  <div class="row">
    <% @courses.each do |course| %>
      <div class="col s4 m4 ">
        <div class="card green darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= course.short_name %></span>
            <p><%= course.name %></p>
            <p><%= course.description %></p>
          </div>
          <div class="card-action">
            <%= link_to "View Course", course_path(course) %>
            <% if logged_in? && !(current_student.courses.include?(course)) %>
              <%= link_to "Enroll", course_enroll_path(course_id: course.id), method: :post %> <!-- As Created in Routes -->
            <% end %>
            <% if logged_in? && current_student.admin? %>
              <%= link_to "Delete", course_path(course), method: :delete, data: {confirm: "Are You Sure?"} %>
            <% end %>
           
          </div>
        </div>
      </div>
    <% end %>
  </div>




